<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
<body>
    <h1>My Webpage</h1>
    {{ name }}
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2011 by <a href="http://domain.invalid/">Bogdan Olteanu</a>.
        {% endblock %}
   	</div>
    </body>
</html>